@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(to bottom right, #f0f9ff, #e0f2fe);
  min-height: 100vh;
}
